<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div th:insert="~{fragments/navbar::navigation}"></div>
<div th:if="${param.success}">
    You successfully registered. Please use your credentials to log in.
</div>
<div th:if="${param.error}">
    Login or password incorrect.
</div>
<div th:if="${param.logout}">
    You've been logged out.
</div>
<form th:action="@{/login}" method="post" class="login-form">
    <div class="form-row">
        <label>Username</label>
        <input name="username" type="text">
    </div>
    <div class="form-row">
        <label>Password</label>
        <input name="password" type="password">
    </div>
    <input type="submit" value="Log in" class="custom-button">
</form>
</body>
</html>