<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div th:insert="~{fragments/navbar::navigation}"></div>
<h1>My Courses</h1>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Course</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="course : ${courses}">
        <tr>
            <td th:text="${course.id}"></td>
            <td th:text="${course.courseName}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>